*{
    padding: 0;
    margin: 0 auto;
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
    grid: 1fr 1fr 1fr / 1fr;
    grid-template-areas: "header header header"
    "content content content"
    "footer footer footer";
}
.header {
    grid-area: header;
    align-items: center;
    justify-items: center;
    text-align: center;
    align-content: space-around;
    background-color: rgb(38, 26, 117);
    width: 100%;
}
.cont_header {
    align-content: space-around;
    padding-top: 100px;
}
.title {
    align-content: space-around;
}
.cont_p {
    font-size: 1.1em;
    margin: 20px;
}
button{
    font-size: 17px;
    padding: 15px 20px;
    border: 1px solid black;
    margin: 25px 0 100px;
    background-color: gray;
}
.content {
    grid-area: content;
    text-align: center;
}
.contenttitle {
    padding-top: 60px;
    margin: auto;
}
.cont_pcontent {
    padding: 20px;
    column-count: 2;
    margin: 60px;
}
.contentp3 {
    margin: 30px;
}
.contenttitle2 {
    padding: 30px 0px 0px;
    margin: 30px;
}
.cont_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding: 30px 200px;
}
.imgcont1 {
    display: block;
    width: 100%;
    background-color: grey;
    height: 120px;
    border: 1px solid black;
}
.blockcont{
    background-color: white;margin: 20px;
}
.firstblocktitle {
    margin: 0;
    padding: 30px 0 0px;
}
.firstblockp {
    margin: 0;
    padding: 30px 20px;
}
.imgcont2 {
    display: block;
    width: 100%;
    background-color: grey;
    height: 120px;
    border: 1px solid black;
}
.secondblocktitle {
    margin: 0;
    padding: 30px 0 0px;
}
.secondblockp {
    margin: 0;
    padding: 30px 20px;
}
.imgcont3 {
    display: block;
    width: 100%;
    background-color: grey;
    height: 120px;
    border: 1px solid black;
}
.thirdblocktitle {
    margin: 0;
    padding: 30px 0 0px;
}
.thirdblockp {
    margin: 0;
    padding: 30px 20px;
}
.footer {
    grid-area: footer;
}
.cont_2ndtable {
    display: grid;
    grid: 1fr 60px/ 1fr 1fr;
    grid-template-areas: "contactblock aboutblock"
    "solblock byblock";
    text-align: center;
}
.contactblock {
    grid-area: contactblock;
    background-color: thistle;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}
.contactp {
    margin: 50px;
}
.aboutblock {
    grid-area: aboutblock;
    background-color: blanchedalmond;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}
.aboutp {
    margin: 50px;
}
.solblock {
    grid-area: solblock;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}
.byblock {
    grid-area: byblock;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width:700px){
    *{
        

    }
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header {
        width:100%;
    }
    .cont_table {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .cont_header {
        align-content: space-around;
        padding-top: 100px;
    }
    .cont_2ndtable{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cont_pcontent {
        column-count: 1;
    }
    .solblock {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .byblock {
        padding-bottom: 10px;
    }
}